services:

  ai-defra-search-aws-bedrock-stub:
    build:
      context: .
    image: ai-defra-search-aws-bedrock-stub:latest
    ports:
      - '8085:8085'
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8085/__admin/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - cdp-tenant

################################################################################

networks:
  cdp-tenant:
    driver: bridge
    name: cdp-tenant
