name: Check Pull Request

on:
  pull_request:
    branches:
      - main
      - minimal
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  pr-validator:
    name: Run Pull Request Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Test Docker Image Build
        run: |
          docker build --no-cache --tag ai-defra-search-aws-bedrock-stub .
          docker run --rm ai-defra-search-aws-bedrock-stub --version
